<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <br><br>
        <h3>Create a new List!</h3>
        <form class="needs-validation" method="POST" action="/listing" novalidate  enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" placeholder="add a catchy title" type="text" class="form-control" required/>
            </div>
            <div class="valid-feedback">Looks good!</div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" placeholder="" class="form-control"></textarea><br>
            </div>
            <div class="mb-3">
                <label for="listType" class="form-label">List Type</label>
                <select
                    name="listing[listType]"
                    class="form-select form-select-sm"
                    aria-label="Select List Type"
                    required>
                    <option value="" selected disabled>Select ListType</option>
                    <option value="Rooms">Rooms</option>
                    <option value="Iconic cities">Iconic cities</option>
                    <option value="Beachfront">Beachfront</option>
                    <option value="Mountains">Mountains</option>
                    <option value="Castles">Castles</option>
                    <option value="Amazing pools">Amazing pools</option>
                    <option value="Camping">Camping</option>
                    <option value="Farms">Farms</option>
                    <option value="Arctic">Arctic</option>
                    <option value="Domes">Domes</option>
                    <option value="Boats">Boats</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input name="listing[image]" type="file" class="form-control" required/>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" placeholder="1200" type="number" class="form-control" required/>
                </div>
                <div class="invalid-feedback">Please enter valid price!</div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">country</label>
                    <input name = "listing[country]" placeholder="India" type="text" class="form-control" required/>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="Jaipur,Rajasthan" type="text" class="form-control" required/>
            </div>
            <br><br>
            <button class="btn btn-dark add-btn mt-3">Add</button>
            <br><br>
        </form>
        </div>
    </div>
</body>
