body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
    flex:1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.navbar-icon{
    color: red;
    font-size: 1.2rem;
}
.nav-link{
    color:#222222 !important;
}
.nav-link-btn{
    opacity: 0.7;
    font-size: 1.2rem !important;
    border-radius: 25px !important;
    color: #222222 !important;
    background-color: white !important;
    border-width: 0.05rem !important;
}
.nav-list{
    border-color: #ebebeb !important;
    border-radius: 10px !important;
    height: 15rem !important;
    width: 15rem !important;
}
.nav-lang-icon{
    padding-top: 0.6rem;
    padding-left: 0.5rem;
    padding-right: 0.8rem;
    font-size: 1rem;
}
/* filters for icons */
#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
}
.filter:hover {
    opacity:1;
    cursor: pointer;
}
.filter-icon{
    color: black;
}
.filter p{
    font-size: 0.8rem;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-links{
    width:100%;
}
.f-info-socials{
    width: 100%;
    font-size: 1.2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.footer-info{
    text-align: center;
    height: 8rem;
    background-color:#ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-details{
    display: flex;
    justify-content: space-evenly;
    gap: 6rem;
}
.card-price{
    margin: 2rem !important;
}
.card-body{
    padding: 1rem 0 0 0 !important;
}
.card-text p {
    font-weight: 400 !important;

}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay :hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.show-img{
    height: 50vh;
}
.btns{
    display: flex;
}
.shw-card{
    padding-left: 0;
    padding-right: 0;
}